/* styles.css */

body {
    background-color: black; /* 背景色為黑色 */
    color: white; /* 文字顏色為白色 */
    
    /* 将页面内容水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 让内容占满整个视口高度 */
}